@page
@model CleanArchitecture.WebUI.Pages.Home.IndexModel
@{
}
<div id="content-area">
    <div id="navigation-area" class="w-50">
        <ul class="list-group list-group-horizontal">
            @for (var i = 0; i < 26; i++)
            {
                <li class="list-group-item"><a href="#" data-value="@(Convert.ToChar('A' + i))">@(Convert.ToChar('A' + i))</a></li>
            }
        </ul>
    </div>
    <div id="search-area">
        <input class="w-75" placeholder="Search country or capital city in the world ..."/>
    </div>
    <div id="results-area">

    </div>
</div>