@page
@model CleanArchitecture.WebUI.Pages.Home.IndexModel
<div id="content-area" class="text-center">
    <partial name="~/Pages/Home/Partials/_MainNav.cshtml" />
    <partial name="~/Pages/Home/Partials/_CapitalCityTab.cshtml" />
    <partial name="~/Pages/Home/Partials/_CountryTab.cshtml" />
    <partial name="~/Pages/Home/Partials/_ContinentTab.cshtml" />
    <partial name="~/Pages/Home/Partials/_Spinner.cshtml" />
    <div id="results-area">
    </div>
</div>
